[user]
	name = borys-ole
	email = borys@electica.io
[core]
	autocrlf = input
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[includeIf "gitdir:~/Code/personal/"]
	path = ~/.gitconfig-personal
[branch]
	autoSetupMerge = simple
